body {
  background-color: orange;
}

.test {
  width: 95%;
  background-color: orangered;
  margin: 10px auto;
  padding: 30px;
  border-radius: 20px;
  color: black;
  font-size: 18px;
  text-align: justify;
  box-shadow: 5px 5px 5px black;
  transition: 300ms;
}
